.card{
    margin: 2em;
    height: 260px;
    width: 225px;
    background-color: #222;
    box-shadow: 4px 4px #597581;
    
}

.img-class{
    
}

.like-button{
    /* margin-right: 0.5em; */
}

.likes {
    margin-top: 12px;
    margin-left: 10px;
    color: lightsteelblue;
}

.button-shrinker{
    margin-top: 7px;
    height: 70%;
    border-radius: 10px;
    background-color: #597581;
    color: lightsteelblue;
}

.desc-class {
    color: lightsteelblue;
    height: 230px;
}