.card{
    margin: 2em;
    height: 325px;
    width: 275px;
    background-color: rgb(38, 69, 77);
    box-shadow: 4px 4px #0f1a1f;
    
}

.img-div{
    height: 250px;
    
}

.like-button{
    /* margin-right: 0.5em; */
}

.likes {
    color: lightblue;
    margin-top: 15px;
    margin-left: 15px;
    color: lightsteelblue;
}

.button-shrinker{
    margin-top: 7px;
    height: 70%;
    border-radius: 10px;
    background-color: #597581;
    color: lightsteelblue;
    box-shadow: 2px 2px #03090c;
}

.interact-div, button{
    /* padding-top: 15px; */
    margin-top: 15px;
    /* position: initial; */
}

.desc-div {
    color: lightsteelblue;
    height: 230px;
}