.form-spc {
 padding-top: 4em;
 margin-left: 15px;
 margin-right: -15px;
 align-items: center;
 
 
 

}


.button-border{
    display: inline-block;
    border: 2.5px solid #85b3e7 ;
    border-radius: 25px;
    box-shadow: 2px 1.5px #FF8966;
    padding: 8px;
    margin-top: 1em;
    
}

.text-field {
    margin-left: 10px;
    padding-right: 1em;
    width: 20em;
    display: block;
    margin-top: 2em;
}
