.App {
  text-align: center;
  background-color: rgb(186, 199, 201);
}

.App-title {
  font-size: 2em;
  
}
html {
  height: 100%;
  background-color: rgb(186, 199, 201);
  border-left: 10px solid #85b3e7;
  border-right: 10px solid #85b3e7;
}

