.App {
  text-align: center;
  background-color: rgb(86, 97, 109);
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: #597581;
  margin-bottom: 2em;
  box-shadow: 4px 4px #597581;
  width: 100%;
  position: absolute;
  top: 0;
  height: 75px;
  text-shadow: 0.7px 0.7px rgb(73, 172, 172);

}

.App-title {
  font-size: 2em;
  
}

