.App {
  text-align: center;
  background-color: rgb(86, 97, 109);
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  box-shadow: 4px 4px #597581;
}

.App-title {
  font-size: 1.5em;
}

/* html, body, #root {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
 } */